<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@student) do |f| %>
      <%= render 'shared/student_error_messages' %>

      <%= f.label :StudentID %>
      <%= f.text_field :name, class: 'form-control' %>

      <p></p>
      <%= f.submit "Create Student", class: "btn btn-primary" %>
      <%= link_to "Cancel", add_remove_student_path, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>